<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/updateUser/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="Имя">Введите имя: </label>
    <input type="text" th:field="*{name}" id="Имя">
    <br/>
    <label for="Фамилия">Введите фамилию: </label>
    <input type="text" th:field="*{lastname}" id="Фамилия">
    <br/>
    <label for="Возраст">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="Возраст">
    <br/>
    <label for="Логин">Введите логин: </label>
    <input type="text" th:field="*{username}" id="Логин">
    <br/>
    <label for="Пароль">Введите пароль: </label>
    <input type="text" th:field="*{password}" id="Пароль">
    <br/>
    <label>
        <select multiple size="2" name="roles" required class="form-control form-control-sm">
            <option value="1">ROLE_ADMIN</option>
            <option selected="selected" value="2">ROLE_USER</option>
        </select>
    </label>
    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT">
</form>
</body>
</html>