<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<div th:each="user : ${users}">
    <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()+' '+user.getLastname()}">user</a>
    <br/>
    <br/>
    <form th:method="DELETE" th:action="@{/admin/deleteUser/{id}(id=${user.getId()})}">
        <input type="submit" value="DELETE"/>
    </form>
    <a th:href="@{/admin/editUser/{id}(id=${user.getId()})}">
        <input type="submit" value="EDIT"></a>
    <hr>
</div>
<br/>
<form th:method="GET" th:action="@{/admin/newUser}">
    <input type="submit" value="Create new User"/>
</form>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="LOGOUT">
</form>
</body>
</html>