<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home user</title>
</head>
<body>
<div th:object="${user}">
  <h5>Имя: <strong th:text="${user.name}"></strong></h5>
  <h5>Фамилия: <strong th:text="${user.lastname}"></strong></h5>
  <h5>Возраст: <strong th:text="${user.age}"></strong></h5>
  <h5>Логин: <strong th:text="${user.username}"></strong></h5>
  <h5>Пароль: <strong th:text="${user.password}"></strong></h5>
</div>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="LOGOUT">
</form>
</body>
</html>